* { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  background: white;
  overflow-x: hidden;
}
.products {
  width: 100%;
  margin: 20px;
  margin-right: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.card {
  width: 240px;
  min-width: 240px;
  background: #1e1e1e;
  padding: 12px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

.card img {
  width: 100%;
  display: block;
  border-radius: 8px;
}